.result-box.result-box-default {
    background: var(--white);
    color: var(--blue);
}

.result-correct-answear{
    color: var(--white);
    background: var(--green);
}

.status-correct {
    color: var(--white);
}

.incorrect-answear{
    color: var(--red);
}