.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background: linear-gradient(to right, #ddd, #eee, #ddd);
}

.container form {
    background: var(--blue-light);

    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
}

.container form label {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 600;
}

.container form input {
    margin: 5% 0;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .1);
}

.container form input:focus {
    box-shadow: inset 1px 2px 4px 2px rgba(0, 0, 0, .15);
}

.container form button {
    cursor: pointer;
    margin-top: 3%;
    padding: .8rem;
    font-size: 1.5rem;
    font-weight: 400;
    background: var(--blue);
    color: var(--white);
    transition: .3s ease-in-out;
}

.container form button:hover {
    background: var(--white);
    color: var(--blue);
}

.container .result-box {
    margin-top: 5%;
    width: 40%;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .2);
    transition: .15s ease-in;
}

.container .result-box h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 5% 0;
}

.container .result-box span {
    font-size: 1.3rem;
    font-weight: 300;
}

.container #btn-restart {
    cursor: pointer;
    background: var(--blue);
    color: var(--white);
    padding: 1rem;
    margin-top: 3%;
    font-size: 1.3rem;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .2);
    transition: .2s ease-in-out;

    display: none;
}

.container #btnRestart:hover {
    background: var(--white);
    color: var(--blue);
}